

<footer class="Footer">
<div class="Container">


  <ul class="Footer-list">
    <li>
      <a data-turbo="false" href="https://www.facebook.com/tysonsandcompany/" target="_blank">
        <svg viewBox="0 0 220 220" class="icon icon--fill icon--circle" aria-hidden="true"><use xlink:href="#icon-facebook" /></svg>
      </a>
    </li>
    <li>
      <a data-turbo="false" href="http://instagram.com/tysonsandcompany/" target="_blank">
        <svg viewBox="0 0 220 220" class="icon icon--fill icon--circle" aria-hidden="true"><use xlink:href="#icon-instagram" /></svg>
      </a>
    </li>
  </ul>

  <ul class="Footer-copyright">
    <li><a data-turbo="false" href="/company#inquiry" data-masthead-scroll>お問い合わせ</a>&nbsp;|&nbsp;
    <a data-turbo="false" href="/company#info" data-masthead-scroll>企業情報</a>&nbsp;|&nbsp;
    <a data-turbo="false" href="/company">配送方法・送料について</a>&nbsp;|&nbsp;
    <a data-turbo="false" href="/company">特定商取引法に基づく表記</a>
    </li>

  </ul>

  <p class="Footer-copyright">
    Copyright
    <a data-turbo="false" href="/">
      ARMIS
    </a> All Rights Reserved.
  </p>



</div>

</footer>
